* text=auto

*.js text
*.json text
*.md text
*.example text

dashboard/public/css/bootstrap.min.css linguist-vendored
dashboard/public/css/font-awesome.min.css linguist-vendored
dashboard/public/css/darkly.css linguist-vendored
dashboard/public/css/flatly.css linguist-vendored
