    <hr>
      <div class="col-md-12" style="padding-left: 30px">
        <div class="row">
          <div class="col-md-4">
            <h2>Server</h2>
            <p>Support server, and the home of delet</p>
            <p><a class="btn btn-secondary" href="https://discord.gg/invite" role="button">Join Server <i class="fa fa-fw fa-chevron-circle-right" aria-hidden="true"></i></a></p>
          </div>
          <div class="col-md-4">
            <h2>Main Website</h2>
            <p>Navigate back to the main website</p>
            <p><a class="btn btn-secondary" href="#" role="button">Main Website <i class="fa fa-fw fa-chevron-circle-right" aria-hidden="true"></i></a></p>
          </div>
        </div>
      </div>
      <footer class="footer"><p style="text-align:center">© DS Development Group 2017 - 2018 <a href="#" class="back-to-top" style="text-align:center"><i class="fa fa-fw fa-arrow-circle-up"></i></a></p></footer>
    </div>
  </body>
</html>